<section>
  <div class="banner">
    <mat-card-title class="titulo">Estadísticas</mat-card-title>
    <mat-card-subtitle class="subtitulo">
      Se presentan las estadísticas de cada uno de los Parlamentos, Congreso y
      Senado estudiados.
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitulo">
      Las herramientas con las que se realizó este estudio han sido Taw y
      Achecker, por lo que los datos que se presentan a continuación no son
      concluyentes.
    </mat-card-subtitle>
  </div>

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <div class="boton-sidenav">
        <button mat-button (click)="andalucia()">Andalucía</button>
      </div>

      <div class="boton-sidenav">
        <button mat-button (click)="canarias()">Canarias</button>
      </div>

      <div class="boton-sidenav">
        <button mat-button (click)="cataluna()">Cataluña</button>
      </div>

      <div class="boton-sidenav">
        <button mat-button (click)="madrid()">Comunidad de Madrid</button>
      </div>

      <div class="boton-sidenav">
        <button mat-button (click)="valencia()">Comunidad Valenciana</button>
      </div>

      <div class="boton-sidenav">
        <button mat-button (click)="extremadura()">Extremadura</button>
      </div>
      <div class="boton-sidenav">
        <button mat-button (click)="galicia()">Galicia</button>
      </div>
      <div class="boton-sidenav">
        <button mat-button (click)="asturias()">Principado de Asturias</button>
      </div>
      <div class="boton-sidenav">
        <button mat-button (click)="congreso()">Congreso de Diputados</button>
      </div>
      <div class="boton-sidenav">
        <button mat-button (click)="senado()">Senado de España</button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <h3>
        Para mostrar las gráficas de los diferentes casos de uso seleccione el
        que desee del menú de la izquierda.
      </h3>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
