section {
  height: calc(100vh - 60px - 64px);
}
.banner {
  display: flex;
  padding: 50px;
  height: 100px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3e9dd;
}
.titulo {
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitulo {
  color: rgb(26, 26, 26);
}

.example-container {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background: #fdf6ec;
}

mat-sidenav {
  background: #b7cadb;
  width: 200px;
  padding-top: 1%;
}

mat-sidenav-content {
  padding: 5%;
}

.boton-sidenav {
  border-bottom: 1px solid #88abc9;
}

iframe {
  background-color: #fdf6ec;
  margin-bottom: 60px;
}
.titulo {
  margin-bottom: 40px;
}
h3 {
  font-weight: bold;
  font-style: oblique;
}
.contenido-canarias {
  text-align: center;
  margin-bottom: 50px;
}
