<!-- <section> -->
<div class="banner">
  <mat-card-title class="titulo">Experiencia de Usuario</mat-card-title>
  <mat-card-subtitle class="subtitulo"
    >Esta página habla de los diferentes aspectos de la experiencia de
    usuario.</mat-card-subtitle
  >
</div>

<div class="datos">
  <h2>LCP</h2>
  <p>Rango: {{ LCP?.percentile }} milisegundos</p>
  <p>
    Categorizacion:
    <span [style]="'color:' + LCPColor">{{ LCP?.category }}</span>
  </p>

  <h2>FID</h2>
  <p>Rango: {{ FID?.percentile }} milisegundos</p>
  <p>
    Categorizacion:
    <span [style]="'color:' + FIDColor">{{ FID?.category }}</span>
  </p>

  <h2>CLS</h2>
  <p>Rango: {{ CLS?.percentile }} milisegundos</p>
  <p>
    Categorizacion:
    <span [style]="'color:' + CLSColor">{{ CLS?.category }}</span>
  </p>
</div>
<!-- </section> -->
