section {
  height: calc(100vh - 60px - 64px);
}
.banner {
  display: flex;
  padding: 50px;
  height: 100px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3e9dd;
  margin-bottom: 30px;
}
.titulo {
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

img {
  margin-left: 200px;
  margin-bottom: 20px;
}

.yo {
  position: relative;
  margin-top: 80px;
  margin-right: 500px;
  float: right;
  width: 400px;
  height: 200px;
}

.ajuste {
  align-items: center;
}
