<div class="banner">
  <mat-card-title class="titulo">Presentación</mat-card-title>
</div>

<div class="ajuste">
  <img src="/assets/images/sobremi.jpeg" alt="Esta soy yo" width="250" />
  <div class="yo">
    <h2>Elena Rijo García</h2>
    <p>
      Soy alumna de cuarto curso del grado de Ingeniería Informática en la
      Universidad de La Laguna. <br />Este es mi primer aplicativo web
      desarrollado y en el presento el estudio, el análisis y la implementación
      de mi Trabajo de Fin de Grado.
    </p>
  </div>
</div>
