<mat-toolbar>
  <span>My Application</span>
  <div class="button-quiensoy">
    <button mat-button color="primary" (click)="irQuienSoy()">
      ¿Quién soy?
    </button>
  </div>
</mat-toolbar>

<div class="button-validador">
  <button mat-button color="primary" (click)="irValidador()">Validador</button>
</div>
<div class="button-estadisticas">
  <button mat-button color="primary" (click)="irEstadisticas()">
    Estadísticas
  </button>
</div>
<div class="button-accesibilidad">
  <button mat-button color="primary" (click)="irAccesibilidad()">
    Accesibilidad
  </button>
</div>
<div class="button-Usabilidad">
  <button mat-button color="primary" (click)="irUsabilidad()">
    Usabilidad
  </button>
</div>
<div class="button-UX">
  <button mat-button color="primary" (click)="irUX()">
    Experiencia de Usuario
  </button>
</div>
<!-- <div class="button-quiensoy">
  <button mat-button color="primary" (click)="irQuienSoy()">¿Quién soy?</button>
</div> -->
