<div class="banner">
  <mat-card-title class="titulo">Web Accesibilidad y Usabilidad</mat-card-title>
  <mat-card-subtitle class="subtitulo"
    >Bienvenido. Este es el Home del aplicativo web que trata diferentes
    aspectos sobre la accesibilidad y usabilidad.</mat-card-subtitle
  >
</div>

<mat-grid-list class="pagina" cols="2" rowHeight="150px" gutterSize="40px">
  <mat-grid-tile class="ser caja" (click)="irQuienSoy()">
    <mat-icon class="person">person</mat-icon>
    <p>¿Quién soy?</p>
  </mat-grid-tile>

  <mat-grid-tile class="validador caja" (click)="irValidador()">
    <mat-icon class="check">check_circle</mat-icon>
    <p>Validador</p>
  </mat-grid-tile>

  <mat-grid-tile class="estadistica caja" (click)="irEstadisticas()">
    <mat-icon class="poll">poll</mat-icon>
    <p>Estadísticas</p>
  </mat-grid-tile>

  <mat-grid-tile class="accesibilidad caja" (click)="irAccesibilidad()">
    <mat-icon class="accesib">accessible</mat-icon>
    <p>Accesibilidad</p>
  </mat-grid-tile>

  <mat-grid-tile class="usabilidad caja" (click)="irUsabilidad()">
    <mat-icon class="usability">autorenew</mat-icon>
    <p>Usabilidad</p>
  </mat-grid-tile>

  <mat-grid-tile class="ux caja" (click)="irUX()">
    <mat-icon class="people">people</mat-icon>
    <p>Experiencia de Usuario</p>
  </mat-grid-tile>
</mat-grid-list>
