<mat-grid-list class="Pagina" cols="2" rowHeight="4:1">
  <mat-grid-tile class="ser">
    <div>
      <button mat-button (click)="irQuienSoy()">¿Quién soy?</button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="validador">
    <div>
      <button mat-button (click)="irValidador()">Validador</button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="estadistica">
    <div>
      <button mat-button (click)="irEstadisticas()">Estadísticas</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="accesibilidad">
    <div>
      <button mat-button (click)="irAccesibilidad()">Accesibilidad</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="usabilidad">
    <div>
      <button mat-button (click)="irUsabilidad()">Usabilidad</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="ux">
    <div>
      <button mat-button (click)="irUX()">Experiencia de Usuario</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
