.footer {
  background-color: #fdf6ec;
  border-top: 2px solid #f3e9dd;
  position: relative;
  width: 100%;
  height: 60px;
  padding-top: 20px;
}
.copyright {
  color: black;
  text-align: center;
}
.mail {
  color: black;
  display: flex;
  justify-content: center;
}
.icon-email {
  margin-top: -5px;
  margin-right: 5px;
}
