<mat-toolbar>
  <img
    src="/assets/images/marca-universidad-de-la-laguna-original.png"
    alt="Universidad de la Laguna"
    height="80"
  />

  <div>
    <button mat-button (click)="irHome()">Home</button>
  </div>

  <div>
    <button mat-button (click)="irQuienSoy()">Sobre mí</button>
  </div>

  <div>
    <button mat-button (click)="irValidador()">Validador</button>
  </div>
  <div>
    <button mat-button (click)="irEstadisticas()">Estadísticas</button>
  </div>
  <div>
    <button mat-button (click)="irAccesibilidad()">Accesibilidad</button>
  </div>
  <div>
    <button mat-button (click)="irUsabilidad()">Usabilidad</button>
  </div>
  <div>
    <button mat-button (click)="irUX()">Experiencia de Usuario</button>
  </div>
</mat-toolbar>
