<mat-toolbar>
  <span>My Application</span>
  <div>
    <button mat-raised-button color="primary" (click)="irQuienSoy()">
      ¿Quién soy?
    </button>
  </div>

  <div>
    <button mat-button color="primary" (click)="irValidador()">
      Validador
    </button>
  </div>
  <div>
    <button mat-button color="primary" (click)="irEstadisticas()">
      Estadísticas
    </button>
  </div>
  <div>
    <button mat-button color="primary" (click)="irAccesibilidad()">
      Accesibilidad
    </button>
  </div>
  <div>
    <button mat-button color="primary" (click)="irUsabilidad()">
      Usabilidad
    </button>
  </div>
  <div>
    <button mat-button color="primary" (click)="irUX()">
      Experiencia de Usuario
    </button>
  </div>
</mat-toolbar>
