<h1>Validador</h1>
<h3>Se trata de una validador de accesibilidad etc...</h3>

<div class="link">
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="direccion"
      type="url"
      placeholder="Ingrese url"
    />
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="analizarWeb()">
    Validar Accesibilidad
  </button>

  <button mat-raised-button color="accent" (click)="buscarID()">
    ID resultados
  </button>
</div>

<!-- Poner el pagetittle con el enlace de la parte de analisisweb -->
<!-- <div>
  <h2>{{ datosInicio.pagetitle }}</h2>
  <ul>
    <li *ngFor="let guia of guias">
      {{ guia.name }}
    </li>
  </ul>
</div>
 -->
<div class="Criterios">
  <mat-card *ngFor="let object of resultadosTraducidos">
    <mat-card-title>{{ object.tipo }}</mat-card-title>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let pauta of object.pautas"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ pauta.titulo }} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            *ngFor="let criterio of pauta.criterios"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> {{ criterio.title }} </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ criterio.descripcion }}</p>
            <a mat-raised-button href="{{ criterio.link }}" target="_blank"
              >Consultar más información</a
            >
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <!--  </mat-card> -->
</div>
